body {
	background-color: #cad3d3;
	font-family: 'Source Sans Pro', sans-serif;
}

.container {
	margin-top: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
}

#form {
	background-color: #ffffff;
	width: 534px;
	border-radius: 1%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

label {
	width: 110px;
	float: left;
}

.note {
	display: flex;
	justify-content: center;
	align-items: center;
	color: #ffffff;
	background-color: #2196f7;
	font-size: 40px;
	height: 126px;
	margin-bottom: 30px;
	border-bottom: solid 1px #CFCFCF;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 5px 0 rgba(0, 0, 0, 0.19);
}

.row {
	padding: 10px;
	margin: 5px 20px 6px 20px;
}

.row:hover {
  background: #f1f7fa;
  font-weight: 700;
}

.row p {
	margin: 0 0 0 160px;
	font-size: 14px;
	color: #CD0000;
}

.row-button {
	padding: 10px;
	margin: 30px 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.button {
	height: 50px;
	width: 170px;
	font-family: 'Montserrat', sans-serif;
	font-size: 19px;
	border-width: 1px;
	background-color: #ffffff;
	border-color: #2196f7;
	color: #2196f7;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

.button:hover {
	background-color: #2196f7;
	cursor: pointer;
	color: #ffffff;
}


.box {
	padding: 7px;
	width: 284px;
	margin-left: 50px;
	border: 1px solid #ebebeb;
}

.box:focus {
	border-color: #62c2e4;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 5px 0 rgba(0, 0, 0, 0.19);
}



.error {
	border-color: #CD0000;
}